<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>COMP3100.Proj.201653763</title>
		<link rel="stylesheet" type="text/css" href="../public/styling.css" />
	</head>
	<body>
		<div>
            <br><h1>Spreadsheet Application</h1><br>
            <h3>Welcome to the Login page</h3><br>
			<form action="auth" method="POST">
				<input type="email" name="email" placeholder="email" value="admin@mun.ca">
				<input type="password" name="password" placeholder="password" value="12345">
				<button id="login" name="login">Login</button>
			</form><br>
			<form action="regpage" method="GET">
				<button id="reg" name="reg">Not registered yet? Register here!</button>
			</form>
		</div>
	</body>
</html>