<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>COMP3100.Proj.201653763</title>
		<link rel="stylesheet" type="text/css" href="../public/styling.css" />
	</head>
	<body>
		<div class="admin">
			<h1>Login successful. Welcome!</h1><br>
			<h3><a href="/next">Click here</a> to update your account information.</h3><br>
			<h3>We see that you're an administrator!</h3><br>
			<h3><a href="/admin">Click here</a> to access the local database that contains all user account information.</h3><br>
			<h3 class="new"><a href="/adminss">Click here</a> to access the local database that contains all stored spreadsheets.</h3><br>
			<h3 class="new"><a href="/spreadsheet">Click here</a> to access the spreadsheet editor to view/edit/delete spreadsheets.</h3><br>
			<h3><a href="/logout">Click here</a> to log out.</h3><br>
		</div>
	</body>
</html>