<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>COMP3100.Proj.201653763</title>
		<link rel="stylesheet" type="text/css" href="../public/styling.css" />
	</head>
	<body>
		<div>
            <br><h1>Project A</h1><br>
            <h3>Welcome to the Registration page</h3><br>
			<form action="reg" method="POST">
				<input type="text" name="name" placeholder="full name">
				<input type="email" name="email" placeholder="email">
				<input type="password" name="password" placeholder="password">
				<input type="checkbox" id="cbox" name="checkbox" value="1">
				<label for="cbox">I'm an administrator</label>
				<button id="reg" name="reg">Register</button>
			</form>
		</div>
	</body>
</html>