<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>COMP3100.Proj.201653763</title>
		<link rel="stylesheet" type="text/css" href="../public/styling.css" />
	</head>
	<body>
		<div>
            <br><h3>Please update your information (you may update either one or both of the following):</h3>
			<form action="update" method="POST">
				<input type="text" name="name" placeholder="full name">
				<input type="password" name="password" placeholder="password">
				<button id="update" name="update">Update</button>
			</form>
		</div>
	</body>
</html>